<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> <h1 class="display-4"><a routerLink="/calculator">Start</a></h1></h1>
    <p class="lead">Formula de calcul pentru taxele datorade de un PFA poate fi complicata. Apar si modificari anual, iar informatiile de pe internet sunt fie imprastiate in multe locuri si trebuie adunate, fie sunt confuze, contradictorii, sau incomplete. Cu acest calculator am dorit sa-ti vin in ajutor. Calculeaza-ti taxele datorate ca PFA pentru acest an.</p>
  </div>
</div>
